.button{
  padding: 5px;
  background-color: var(--primary);
  border:none;
  min-width: 20rem;
  border-radius: 10px;
  cursor: pointer;
}

.button svg{
  color: var(--gray-700);
  height: 32px;
  width: 32px;
}
.button:hover{
  background-color: var(--primary-dark);
  transform: scale(1.05);
  transition: transform 0.1s ease, background-color 0.1s ease;
}
.green{
  background-color: var(--primary);
}
.red{
  background-color: var(--error);
}
.red:hover{
  background-color: var(--error);
}