.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 24px;
}

.button{
  padding: 5px;
  background-color: var(--primary);
  color: #FFFFFF;
  border:none;
}

button:hover{
  background-color: var(--primary-dark);
  transform: scale(1.05);
  transition: transform 0.1s ease, background-color 0.1s ease;
}